src/                 
node_modules/        
.git/                
.gitignore          
.npmignore           
package-lock.json     
tsconfig.json        
README.md            
tests/               
howtodeploy.md
test